---
export interface Props {
  place: string;
  title: string;
  title2: string;
  description: string;
  id: string;
  isActive?: boolean;
}

const { place, title, title2, description, id, isActive = false } = Astro.props;
---

<div class={`details space-y-8 text-white ${isActive ? 'opacity-1' : 'opacity-0'}`} id={id}>
  <div class="place-box">
    <div class="text text-xl pt-4">{place}</div>
  </div>
  <div class="title-box-1">
    <div class="title-1 line-clamp-2">{title}</div>
  </div>
  <div class="title-box-2">
    <div class="title-2">{title2}</div>
  </div>
  <div class="desc w-1/2">
    {description}
  </div>
  <div class="cta">
    <a href="/experiencias" class="view-all">
      Descubre las 100 
    </a>
    <button class="discover">Explorar</button>
  </div>
</div>